<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">

        <script type="text/javascript" src="/javascripts/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="/javascripts/angular-1.0.1.js"></script>
        <script type="text/javascript" src="/javascripts/app/Charts.js"></script>
        <script type="text/javascript" src="/javascripts/app/ChartApp.js"></script>
        <script type="text/javascript" src="/javascripts/app/AmChartController.js"></script>

        <script type="text/javascript" src="/javascripts/lib/amcharts/amcharts.js"></script>

    </head>

    <body data-ng-app="ChartApp" data-ng-controller="AmChartController">
        <input type="text" data-ng-model="visits"><button data-ng-click="updateVisits()">Update Visits</button>
        <div data-pie-chart data-chart-id="pieChartTest" data-chart-model="chartModel"></div>
        <div>
            <div><span>Country: </span><span>{{selected.country}}</span></div>
            <div><span>Visits: </span><span>{{selected.visits}}</span></div>
        </div>

        <div>
            <input type="text" data-ng-model="hits"><button data-ng-click="updateHits()">Update Hits</button>
            <div data-line-chart data-chart-id="lineChartTest" data-chart-model="chartModel"></div>
        </div>
    </body>
</html>