<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">

        <script type="text/javascript" src="/javascripts/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="/javascripts/handlebars-1.0.rc.1.js"></script>
        <script type="text/javascript" src="/javascripts/ember-1.0.0-pre.2.min.js"></script>

        <script type="text/javascript" src="/javascripts/ember/EmberChart.js"></script>
        <script type="text/javascript" src="/javascripts/ember/EmberChartController.js"></script>

        <script type="text/javascript" src="/javascripts/lib/amcharts/amcharts.js"></script>

    </head>

    <body>
        <div id="EmberApp">
            <h1>Ember</h1>
            <script type="text/x-handlebars">
                {{view EmberChart
                        elementId="lineChartId"
                        modelBinding="EmberChartController.model"
                        controllerBinding="EmberChartController"
                }}

                <div class="selected">
                    <h4>Selected</h4>
                    {{#if EmberChartController.selected}}
                    <div><span>Country: </span><span>{{EmberChartController.selected.country}}</span></div>
                    <div><span>Visits : </span><span>{{EmberChartController.selected.visits}}</span></div>
                    {{/if}}
                </div>
            </script>



        </div>
        <script type="text/javascript">
            var ENV = {EXTEND_PROTOTYPES: false};
            EmberBenchMarkApp = Ember.Application.create({
                rootElement: $('#EmberApp')
            });
        </script>
    </body>
</html>