<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/javascripts/lib/SlickGrid/slick.grid.css">
        <link rel="stylesheet" href="/javascripts/lib/SlickGrid/css/smoothness/jquery-ui-1.8.16.custom.css">

        <script type="text/javascript" src="/javascripts/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="/javascripts/angular-1.0.1.js"></script>
        <script type="text/javascript" src="/javascripts/lib/SlickGrid/lib/jquery.event.drag-2.0.min.js"></script>
        <script type="text/javascript" src="/javascripts/lib/SlickGrid/slick.core.js"></script>
        <script type="text/javascript" src="/javascripts/lib/SlickGrid/slick.grid.js"></script>
        <script type="text/javascript" src="/javascripts/app/SlickGrid.js"></script>
        <script type="text/javascript" src="/javascripts/app/DripDropService.js"></script>
        <script type="text/javascript" src="/javascripts/app/GridModel.js"></script>
        <script type="text/javascript" src="/javascripts/app/GridApp.js"></script>

    </head>
    <body>
        <div data-ng-app="GridApp">
            <div data-ng-controller="GridController">
                <div>
                    <h5>DripDropModel Events</h5>
                    <div>onViewPortChanged: {{data}}</div>
                </div>
                <div data-slick-grid data-grid-id="test" data-model="dripDropModel"></div>
            </div>

            <div data-ng-controller="CampaignController">
                <div>
                    <h5>Campaign Events</h5>
                    <div>onViewPortChanged: {{data}}</div>
                </div>
                <div data-slick-grid data-grid-id="campaign" data-model="campaignModel"></div>
            </div>
        </div>
    </body>
</html>